<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="saarland.dfki.socialanxietytrainer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.microsoft.band.service.access.BIND_BAND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".QuizActivity"
            android:label="@string/title_quiz_activity" />
        <activity
            android:name=".BandConnectAcitivity"
            android:label="@string/title_activity_microsoft_band" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WalkthroughActivity" />
        <activity android:name=".ExecuteTaskActivity" />
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ScoreActivity" />
        <activity android:name=".ShareActivity" />
        <activity android:name=".Settings" />
        <activity android:name=".Help" />
        <activity android:name=".Demo"></activity>
    </application>

</manifest>